{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="container mt-3">
        <nav aria-label="breadcrumb" class="row">
            <div class=" breadcrumb bg-light text-dark rounded">
                <center class="col">
                    <img src="{% static 'images/chelsea.png' %}" style="width: 10vw;"><br>
                    <b>{{bet.home_name.name| upper}}</b>
                </center>
                <center class="col my-auto">
                    <h2 >VS</h2>
                </center>
                <center class="col">
                    <img src="{% static 'images/chelsea.png' %}" style="width: 10vw;"><br>
                    <b>{{bet.away_name.name| upper}}</b>
                </center>
            </div>

        </nav>

        <form class="">
            <p >All Odd List</p>
            <div class="row ">
                <div class="bg-light col-sm-auto p-2 m-2 rounded">
                     Who will win the match?<br><br>
                    <div class="row">
                    <div class="col text-center mx-2 rounded bg-lightgrey">
                        Home<br>
                        {{bet.home}}
                        <input type="radio" value="{{bet.home}}" name="win">
                    </div>
                    <div class="col mx-2 text-center rounded bg-lightgrey">
                        Draw<br>
                        {{bet.draw}}
                        <input type="radio" value="{{bet.draw}}" name="win">
                    </div>
                        <div class="col mx-2 text-center rounded bg-lightgrey">
                            Away<br>
                        {{bet.away}}
                            <input type="radio" value="{{bet.away}}" name="win">
                    </div>
                        </div>
                </div>

                <div class="bg-light col-sm-auto p-2 m-2 rounded">
                 Who will win the 1st half?<br><br>
                <div class="row">
                <div class="col text-center mx-2 rounded bg-lightgrey">
                    Home<br>
                    {{bet.home_h1}}
                </div>
                <div class="col mx-2 text-center rounded bg-lightgrey">
                    Draw<br>
                    {{bet.draw_h1}}
                </div>
                    <div class="col mx-2 text-center rounded bg-lightgrey">
                        Away<br>
                    {{bet.away_h1}}
                </div>
                    </div>
            </div>

                <div class="bg-light col-sm-auto p-2 m-2 rounded">
                 Who will win the 1st half?<br><br>
                <div class="row">
                <div class="col text-center mx-2 rounded bg-lightgrey">
                    Home<br>
                    {{bet.home_h1}}
                </div>
                <div class="col mx-2 text-center rounded bg-lightgrey">
                    Draw<br>
                    {{bet.draw_h1}}
                </div>
                    <div class="col mx-2 text-center rounded bg-lightgrey">
                        Away<br>
                    {{bet.away_h1}}
                </div>
                    </div>
            </div>
                <div class="bg-light col-sm-auto p-2 m-2 rounded">
                 Who will win the 1st half?<br><br>
                <div class="row">
                <div class="col text-center mx-2 rounded bg-lightgrey">
                    Home<br>
                    {{bet.home_h1}}
                </div>
                <div class="col mx-2 text-center rounded bg-lightgrey">
                    Draw<br>
                    {{bet.draw_h1}}
                </div>
                    <div class="col mx-2 text-center rounded bg-lightgrey">
                        Away<br>
                    {{bet.away_h1}}
                </div>
                    </div>
            </div>
                <div class="bg-light col-sm-auto p-2 m-2 rounded">
                 Who will win the 1st half?<br><br>
                <div class="row">
                <div class="col text-center mx-2 rounded bg-lightgrey">
                    Home<br>
                    {{bet.home_h1}}
                </div>
                <div class="col mx-2 text-center rounded bg-lightgrey">
                    Draw<br>
                    {{bet.draw_h1}}
                </div>
                    <div class="col mx-2 text-center rounded bg-lightgrey">
                        Away<br>
                    {{bet.away_h1}}
                </div>
                    </div>
            </div>

            </div>
        </form>
    </div>
{% endblock %}
