
body {
    background-color: lightgrey;
    font-family: poppins;
}


/*
---------------------------------------------
Pre-loader Style
---------------------------------------------
*/

.js-preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.99);
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  z-index: 9999;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.js-preloader.loaded {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@-webkit-keyframes dot {
  50% {
      -webkit-transform: translateX(96px);
      transform: translateX(96px);
  }
}

@keyframes dot {
  50% {
      -webkit-transform: translateX(96px);
      transform: translateX(96px);
  }
}

@-webkit-keyframes dots {
  50% {
      -webkit-transform: translateX(-31px);
      transform: translateX(-31px);
  }
}

@keyframes dots {
  50% {
      -webkit-transform: translateX(-31px);
      transform: translateX(-31px);
  }
}

.preloader-inner {
  position: relative;
  width: 142px;
  height: 40px;
  background: transparent;
}

.preloader-inner .dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  background: #5ee75e8d;
  border-radius: 50%;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-animation: dot 2.8s infinite;
  animation: dot 2.8s infinite;
}

.preloader-inner .dots {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  -webkit-animation: dots 2.8s infinite;
  animation: dots 2.8s infinite;
}

.preloader-inner .dots span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  background: #5ee75e8d;
  border-radius: 50%;
}

.bg-lightgrey{
    background-color: lightgrey;
}

center b {
    font-size: 85%;
}
.text-center{
    text-align: center;
}
.games-link{
    text-decoration: none;
    color: #222;
}
.games-link:hover{
    color: green;
}

.main-banner {
  background-image: url(../images/eurosport.jpg);
  background-position: center center;
  background-size: cover;
}

.main-banner h1 {
  backdrop-filter: blur(5px);
  padding: 10px;
  font-weight: 900;
  background: -webkit-linear-gradient(right, #0f0, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner-pad {
  padding: 20px 20px;
}


.main-banner h4 {
  font-size: 30px;;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-weight: bolder;
  color: white;
}
.betslip {
  position: fixed;
  bottom: 1vh;
  right: 2vh;

}

input[type=text], input[type=search]{
  border-radius: 30px;
  padding: 10px;
  border-style: hidden;
}

.result-score {
  margin: auto;
  padding: 20px;
  font-weight: bolder;
  font-size: larger;
}

.main-button a, button {
  font-size: 14px;
  color: #fff;
  background-color: #5ee75e8d;
  padding: 6px 15px;
  display: inline-block;
  border-radius: 15px;
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: 0.3px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
}
.ht{
  font-weight: 500;
  font-size: small;
}
footer a {
  color: #0f0;
}
footer a:hover {
  color: green;
}
.bg-white{
  color: white
}
.show-print{
  display: none;
}